<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   design_default
 * @package    Vpos_cc
 * @copyright  Copyright (c) 2011 Riccardo Roscilli PwsMage
 */

$instructions = Mage::getStoreConfig('payment/vposcc_cc/instructions');
?>
 <fieldset class="form-list"> 
    <?php $_code=$this->getMethodCode(); ?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none;">
        <li>
            <?php echo $instructions?>
        </li>
    </ul>
</fieldset>
